{% extends "home.html" %}
{% block main %}
<div class="form-box">
<div class="from">
    <h1> Register page</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="inputBox">
            {{ form.username }}<span>Username</span><i></i></div>
            <div class="inputBox">
            {{ form.password }}<span>Password</span><i></i></div>
            <div class="links">
                <a href="{{url_for('login')}}">Already have an account</a><br>
                <a href="{{url_for('home')}}">Go back</a><br>
            </div>
            {{ form.submit }}
        </form>
    </div>
</div>

<script src="static/css/main.js"></script>
{% endblock %}
</body>
</html>
